input[type="range"] {
    width: 300px;
}

progress {
    width: 300px;
    height: 10px;
}

table td {
    font-size: 20pt;
    vertical-align: middle;
}

.outerTable {
    border-spacing: 0 25px;
}

table input[type="text"] {
    font-size: 20pt;
}

input[type="button"] {
    font-size: 20pt;
    background-color: gray;
 }



label {
    position: relative;
    z-index: 3;
}
    /* CSS to make the checkbox disappear (but remain functional) */
    label input {
        position: absolute;
        visibility: hidden;
    }


.groups {
    float: left;
    margin-right: 50px;
}

.presets {
    float: left;
    width: 30%;
    
}

.presets input[type='button'] {
       display: block;
    float: right;
    margin: 15px 0 0 0;
    width: 200px;

}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    margin: 15px;
}

h1 {
    margin-bottom: 0px;
}
