input[type="range"] {
    width: 300px;
}

progress {
    width: 300px;
    height: 10px;
    background-color: blue;
}

table td {
    font-size: 20pt;
    vertical-align: middle;
}

.outerTable {
    border-spacing: 0 25px;
}

table input[type="text"] {
    font-size: 20pt;
}

input[type="button"] {
    font-size: 20pt;
    background-color: gray;
}


.toggleButton {
    float: left;
    font-size: 40pt;
    width: 100px;
    color: black;
    margin: 10px;
    text-align: center;
    height: 65px;
}

.otherChannels {
    font-size: 8pt;
    position: relative;
    margin-top: -65px;
    margin-left: 5px;
}

    .otherChannels div {
        float: left;
        margin-right: 5px;
    }

/*.columnLayout {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}*/

label {
    position: relative;
    z-index: 3;
}
    /* CSS to make the checkbox disappear (but remain functional) */
    label input {
        position: absolute;
        visibility: hidden;
    }


.groups {
    float: left;
    margin-right: 50px;
}

.presets {
    float: left;
    width: 30%;
}

    .presets input[type='button'] {
        display: block;
        float: right;
        margin: 15px 0 0 0;
        width: 200px;
    }

body {
    background-color: black;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: white;
    margin: 15px;
}

h1 {
    margin-bottom: 0px;
}

#connectionLost {
    width: 100%;
    color: white;
    font-size: 24px;
    background-color: red;
    padding: 5px;
    display: none;
}

#apply {
    padding: 15px;
}
